* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.block-container{
  position: relative;
  width: 1280px;
  height: 1715px;
  margin: 0 auto;
  background: none;
}

.product-title {
  text-align: center;
  font-size: 70px;
  height: 78px;
  margin-top: 220px;
  margin-bottom: 110px;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  list-style: none;
  justify-content: center;
  position: relative;
}

.cord-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A; 
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 13px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.bg-flowers {
  position: absolute;
  background-image:(url(images/bg-flowers.png));
  background-repeat: repeat;
  background-size: 790px;
  width: 790px;
  height: 697px;
  z-index: -1;
  left: 85px;
  top: -420px;
}